<html>
    <head>
        <link href="{{ STATIC_URL }}bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}cusrefgen/css/cusrefgen.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class='container'>
            <h3>Please copy your reference number below</h3>
            <br>

            <div class="well well-lg">
                <strong>{{ dispRefInstance }}</strong>
            </div>
        </div>
    </body>
</html>
